*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('INDEPENDENCE.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

h1{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(28, 17, 184);
    text-align: center;
    padding: 250px;   
}
